version: '3.4'

services:
  ticketingsystem.identity.api:
    image: ticketingsystem/identity.api
    build:
      context: .
      dockerfile: Services/Identity/TicketingSystem.Identity.API/Dockerfile
    depends_on:
      - identity.sql
  identity.sql:
    image: "mcr.microsoft.com/mssql/server"